{% extends 'base.html.twig' %}

{% block body %}
    <div class="body-connexion">
        <h1 class="connexion-h1">Connectez-vous avec votre adresse email</h1>

        <form action="{{ path('security_login') }}" method="post" class="formulaire-connexion">
            <input placeholder="Adresse email" type="email" name="_username" required>
            <input placeholder="Mot de passe" type="password" name="_password" required>
            <button type="submit" class="submit-connexion">Connexion !</button>
    </form>
    </div>
{% endblock %}