/* NAVBAR */


.navbar {
    margin-right: 0px !important;
    list-style-type: none;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    padding-left : 50px;
    padding-top:20px;
    padding-bottom:15px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align:left;
    color: rgba(0, 0, 0, 0.92);
    border: 1px solid black;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-weight: 750;
    border-radius: 20px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}






/* ________________________________________________________________________ */

/* 

        Page de Connexion 

*/
    



    .body-connexion {
        position: relative;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        padding-left: 8px;
        padding-right: 8px;
    }
    .connexion-h1 {
        width: 760px;
        font-family: "Montserrat",sans-serif;
    }
    
    .formulaire-connexion {
        font-family: "Montserrat",sans-serif;
        color: currentColor;
        width: 100%;
        border: 5px;
        height: 1.1875em;
        margin-left: 200px;
        display: block;
        padding: 6px 0 7px;
        min-width: 0;
        background: none;
        box-sizing: content-box;
        animation-name: MuiInputBase-keyframes-auto-fill-cancel;
        -webkit-tap-highlight-color: transparent;
    }

    .submit-connexion {
        text-align:left;
        color: rgba(0, 0, 0, 0.92);
        padding: 6px 16px;
        font-size: 0.875rem;
        min-width: 64px;
        box-sizing: border-box;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        font-family: Montserrat;
        font-weight: 700;
        line-height: 1.5rem;
        border-radius: 4px;
        text-transform: uppercase;
    }

/* ________________________________________________________________________ */




/* 

        Page Artistes 

*/



table {

    background-color: cadetblue;
    border-collapse: collapse;
    text-align: center;
    border-radius: 10px;
    
}

td {
    border: 1px solid black;
}

.artist-img {
    width: 250px;
    height: 150px;
}

.submit-artist {
        color: rgba(0, 0, 0, 0.92);
        display: block;
        margin : auto;
        padding: 4px;
        font-size: 0.875rem;
        min-width: 64px;
        border: 1px solid black;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        font-family: Montserrat;
        font-weight: 700;
        line-height: 1.5rem;
        border-radius: 4px;
}


.artist-name  {
    font-weight: bold;
    padding : 20px;
}

.title-artist {
    font-size: 20px;
    font-weight: bold;
}

.h1-artist {
        font-family: "Montserrat",sans-serif;
        color: currentColor;
        width: 100%;
        border: 5px;
        height: 1.1875em;
        margin-left: 200px;
        display: block;
        padding: 6px 0 7px;
        min-width: 0;
        background: none;
        box-sizing: content-box;
        text-decoration:underline;
}

.action-bouton {
        font-size: 20px;
        padding : 10px;
        color: darkblue;
}

.description-artist {
        font-weight: bolder ;
        padding : 20px;
        width: 100%;
}



/* ________________________________________________________________________ */


/*

Page New Artist

*/




.submit-artist {
    text-align:left;
    display: block;
    margin : auto;
    margin-top: 10px;
        color: rgba(0, 0, 0, 0.92);
        padding-left: 6px;
        font-size: 0.875rem;
        min-width: 64px;
        text-align: center;
        box-sizing: border-box;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        font-family: Montserrat;
        font-weight: 700;
        line-height: 1.5rem;
        border-radius: 4px;
        text-transform: uppercase;
}

.new-artist {
        font-family: "Montserrat",sans-serif;
        color: currentColor;
        display: flex;
        justify-content: space-around;
        height: 1.1875em;
        margin: 50px;
        padding: 6px 0 7px;
        min-width: 0;
        background: none;
        box-sizing: content-box;
        animation-name: MuiInputBase-keyframes-auto-fill-cancel;
        -webkit-tap-highlight-color: transparent;
<<<<<<< Updated upstream
        white-space:normal;border:2px solid;
}


/*

Page New Meet Artist

*/

.newmeeth1{
    font-family: "Montserrat",sans-serif;
    font-size: 25px;
}

.textnewmeet{
    font-family:"Montserrat",sans-serif;
    font-size: 1rem;
    margin: 1rem;
}

.artistN{
    padding:0.600rem;
}

.beginningN{
    padding:0.600rem;
}

.endingN{
    padding:0.600rem;
}

.buttonN{
    padding:0.600rem;
}

.retourN{
    margin:0.800rem;
}

.button{
    background-color:grey ;
    padding: 5px;
    text-decoration: none;
    font-family: "Montserrat",sans-serif;
    border-radius:5px;
    color: white;
    font-size: 12px;
}
button{
    background-color: blue ;
    padding: 5px;
    text-decoration: none;
    font-family: "Montserrat",sans-serif;
    border-radius:5px;
    color: white;
    font-size: 12px;
}

.twobuttons{
    display:flex;
    
}
=======
        white-space:normal;
        border:2px solid;
}

.h1-newartist {
    font-family: "Montserrat",sans-serif;
        color: currentColor;
        width: 100%;
        border: 5px;
        height: 1.1875em;
        margin-left: 200px;
        padding: 6px 0 7px;
        min-width: 0;
        background: none;
        box-sizing: content-box;
        text-decoration:underline;
}

>>>>>>> Stashed changes
